<%- include('./partials/head', {current: '/favorites' }); %>

    <p class="favoritesTitle">
        Bekijk hieronder al uw lijsten.
    </p>
    <p class="favoritesInfo">
        Klik op een lijst om uw favorieten te bekijken.
    </p>

    <a href="/list" class="listLink">
        <%= favorieten[0].title %>
    </a>

    <%- include('./partials/foot') %>